.statistic {
    width: 1000px;
}

.table th,td {
    background-color: white !important;
    color: #03071e !important;
    font-weight: bold !important;
}

.table th, td {
    border-color: #03071e;
    text-align: center;
}

.caption-td, .date-td {
    text-align: left;
    font-weight: normal !important;
}

.date-td {
    width: 120px;
}

td a {
    text-decoration: none !important;
    color: #03071e !important;
}

td a:hover {
    color: #666 !important;
}

.notifications-block {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 1500px;
}