.nav_menu {
  background: #333;
  line-height: 50px;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.nav_item {
  color: #fff;
  list-style: none;
  padding: 0px 15px;
  cursor: pointer;
  text-decoration: none;
}

.nav_item:hover {
  color: #03071e;
  text-decoration: none;
  background-color: #edf6f9;
}

.search-nav {
  margin-top: 5px;
  width: 250px !important;
  height: 38px;
}

.search-icon {
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
}

.search-results-list {
  padding: 0;
  z-index: 101;
  position: absolute;
  width: 250px;
}

.dropdown-item {
  color: #555 !important;
  background-color: white !important;
}