.streamers-list {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
}

.streamers-list li {
    width: 250px;
    margin: 5px;
}

.streamers-list a {
    text-decoration: none;
    color: black;
}

.streamers-list a:hover {
    color: white;
}

.header {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-header {
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.search-input {
    margin-left: 20px;
    margin-bottom: 50px;
    width: 300px !important;
}