.table-button {
  width: auto;
  height: 35px;
  margin: 10px;
  border: 1px solid black !important;
  background-color: white !important;
  color: #03071e !important;
  font-weight: bold;
  margin-bottom: 30px;
}
